<head>
<link rel="stylesheet" href="css/style.css">
<center><h1 class='title'>Tic Tac Toe</h1>
<h1 class='title_3'><%=message%></h1></center>
<script type="text/javascript">
document.write ('<p><span id="date-time">', new Date().toLocaleString(), '<\/span>.<\/p>')
if (document.getElementById) onload = function () {
	setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
}
</script>
</head>

<body onload="startTime()">
<table id="table_size">
    <tr>
        <td><div class="win_display"><%=board.ttt_board[0]%></div></td>
        <td class="middle_columns"><div class="win_display"><%=board.ttt_board[1]%></div></td>
        <td><div class="win_display"><%=board.ttt_board[2]%></div></td>
    </tr>
    <tr>
        <td class="top_bottom"><div class="win_display"><%=board.ttt_board[3]%></div></td>
        <td class="middle_columns top_bottom"><div class="win_display"><%=board.ttt_board[4]%></div></td>
        <td class="top_bottom"><div class="win_display"><%=board.ttt_board[5]%></div></td>
    </tr>
    <tr>
        <td><div class="win_display"><%=board.ttt_board[6]%></div></td>
        <td class="middle_columns"><div class="win_display"><%=board.ttt_board[7]%></div></td>
        <td><div class="win_display"><%=board.ttt_board[8]%></div></td>
    </tr>
</table>
</center>
</body>

<center>
<div id=links>
<p class='link'><a href='/clear_sessions'><img src= "./img/re.jpg" style="width:100px;height:75px;"></a>
<p class='link'><a href='/game_results'><img src= "./img/results.JPG" style="width:100px; height:75px;"></a> 
</div>
</center>
</p>
